:root {
  --color-material-idle: #2f2f2f;
  --color-material-hover: #3d3d3d;
  --color-material-active: #4b4b4b;
  --color-material-ultra: #797979;
  --color-light-idle: #b9b9b9;
  --color-light-hover: #c0c0c0;
  --color-light-active: #d0d0d0;
  --color-text: #a1a1a1;
  --color-selected: #46a0f5;
  --color-bg: #232323;
  --color-dark: #1f1f1f;
  --color-bright: #b1b1b1;
  --scrollbar-opacity: 1;
  --head-h: 4.825rem;
  --screen-cols: 1;
  --max-height: 200px;

  --anim-orb-opacity: 1;
  --anim-cursor-opacity: 0;
  --anim-find-opacity: 0;
  --color-animChosen: #ff0000;
  --color-R: #eb6d5a;
  --color-G: #66ff3b;
  --color-B: #3593eb;
  --color-idR: var(--color-material-idle);
  --color-idG: var(--color-material-idle);
  --color-idB: var(--color-material-idle);
  --color-odR: var(--color-material-idle);
  --color-odG: var(--color-material-idle);
  --color-odB: var(--color-material-idle);

  --border-def: 1.35px solid var(--color-material-idle);
  background-color: var(--color-bg);
}


.anim-noselection {
  width: 100%;
  height: auto;
  min-height: 1rem;
}


.animCursor, .animFind, .animOrb {
  fill: var(--color-animChosen);
}

#bmCursor {opacity: var(--anim-cursor-opacity)}
#bmFind {opacity: var(--anim-find-opacity)}
#bmOrb {opacity: var(--anim-orb-opacity)}

.animSelectionBox {stroke: var(--color-material-ultra)}
.animFrame {stroke: #1f1f1f;}
.animFrame, .animBBox {fill: none;}
.animNode {fill: var(--color-animChosen);}
.animFrame, .animBBox, .animNode {stroke-miterlimit: 10;}
.animBBox, .animNode {
  stroke: var(--color-animChosen);
  stroke-width: 1px;
}

.app-Grid {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-row-gap: .25rem;
}

.head-Grid {
  color: var(--color-light-idle);
  width: auto;
  display: grid;
  /* margin-bottom: .25rem; */
  grid-column-gap: .25rem;
  grid-template-columns: 4fr 1fr;
}

.blank {
  width: 100%;
  box-sizing: border-box;
  /* min-height: 1rem; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.placeholder {
  /* color: white; */
  /* font-size: 1.5rem; */
  /* justify-content: center; */
  max-height: var(--max-height);
  display: grid;
  grid-template-rows: 2fr 1fr;
  /* align-items: center; */
}

/* TAGS */

.colorPreview {
  box-sizing: border-box;
  width: auto;
  min-height: 10px;
  border: 1px solid var(--color-border);
  /* justify-self: baseline; */
  /* border: 2px solid red; */
}

.screen-Tags-Body {
  display: grid;
  grid-template-rows: 7fr 1fr;
  box-sizing: border-box;
  /* justify-content: center; */
  /* align-items: baseline; */
  flex-wrap: wrap;
  /* border: var(--border-def); */
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  min-height: 1rem;
  /* margin: .125rem; */
  overflow-y: scroll;
}

.screen-Details {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  /* border: 2px solid red; */
}

.screen-Colors-Wrap {
  /* border: 2px solid red; */
  box-sizing: border-box;
  /* display: grid; */
  margin: .5rem 1rem;
}

.screen-Tags-Details {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: .5rem 1rem;
  /* height: calc(var(--max-height)/2); */
  color: var(--color-light-idle);
}

.screen-Tags-Content {
  /* margin-top: .5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
}
.screen-Tags-Body::-webkit-scrollbar {
  opacity: var(--scrollbar-opacity);
  width: .5rem;
  background-color: transparent;
}

.screen-Tags-Anno {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .25rem 0px;
  max-height: calc(var(--max-height)/2 - var(--max-height)/2/7);
  /* position: fixed; */
  color: var(--color-light-idle);
}

.head-Tags-Body {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  /* border: var(--border-def); */
  background-color: var(--color-dark);
  overflow: hidden;
  height: var(--head-h);
  margin: .125rem;
  overflow-y: scroll;
}

.head-Tags-Content {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
}

.head-Tags-Body::-webkit-scrollbar {
  opacity: var(--scrollbar-opacity);
  width: .5rem;
  background-color: transparent;
}

.tagwrap {
  box-sizing: content-box;
  padding: 0px .125rem;
  background-color: var(--color-bg);
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class^="tag-"] {
  padding: .125rem .25rem;
  border-radius: .25rem;
  border: 1.35px solid transparent;
  user-select: none;
  cursor: default;
}

.tag-prop-idle {
  color: var(--color-light-idle);
  background-color: var(--color-bg);
  border-color: var(--color-material-idle);
}
.tag-prop-hover {
  color: var(--color-light-hover);
  background-color: var(--color-material-hover);
  border-color: var(--color-material-active);
}
.tag-prop-active {
  color: var(--color-light-active);
  background-color: var(--color-material-active);
  border-color: var(--color-selected);
}

.tag-layer-idle {
  color: var(--color-light-idle);
  background-color: var(--color-material-idle);
}
.tag-layer-hover {
  color: var(--color-light-hover);
  background-color: var(--color-material-hover);
}
.tag-layer-active {
  color: var(--color-light-active);
  background-color: var(--color-material-active);
  border-color: var(--color-selected);
}

/* SELECTRON */

.head-Selectron-Wrap {
  box-sizing: border-box;
  /* border: var(--border-def); */
  background-color: var(--color-bg);
  width: 100%;
  height: var(--head-h);
}

svg {
  width: 100%;
  height: 100%;
}

.Selectron-odR, .Selectron-odG, .Selectron-odB, .Selectron-idR, .Selectron-idG, .Selectron-idB {
  stroke: var(--color-bg);
  stroke-width: 1px;
  stroke-miterlimit: 20;
  stroke-linejoin: round;
}

.Selectron-odR {fill: var(--color-odR);}
.Selectron-odG {fill: var(--color-odG);}
.Selectron-odB {fill: var(--color-odB);}
.Selectron-idR {fill: var(--color-idR);}
.Selectron-idG {fill: var(--color-idG);}
.Selectron-idB {fill: var(--color-idB);}
.Selectron-frame {fill: none;}

[class^="Selectron-core-"] {
  cursor: pointer;
}

[class^="Selectron-core-"]:hover {
  fill: var(--color-material-hover);
}

.Selectron-core-false {
  fill: var(--color-material-active);
}
.Selectron-core-true {
  fill: var(--color-light-idle);
}

.main-Anno {
  box-sizing: border-box;
  /* border: var(--border-def); */
  width: 100%;
  padding: .25rem;
  color: var(--color-light-idle);
  background-color: var(--color-dark);
  display: flex;
  justify-content: flex-end;
  cursor: default;
  user-select: none;
}


/* SCREEN */

.screenwrap {
  box-sizing: border-box;
  border: var(--border-def);
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: var(--max-height);
  margin-top: .25rem;
  background-color: var(--color-dark);
  overflow: auto;
}

.screen-content {
  box-sizing: border-box;
  /* border: 2px solid red; */
  margin: 0.25rem 0rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: repeat(var(--screen-cols), 1fr);
  grid-column-gap: .25rem; */
  /* justify-content: center; */
  /* align-items: baseline; */
}
.screenwrap::-webkit-scrollbar:horizontal {
  display: none;
}
.screenwrap::-webkit-scrollbar:vertical {
  /* display: none; */
}

/* FAMILY */

.screen-family {
  color: var(--color-light-idle);
  box-sizing: border-box;
  border: var(--border-def);
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 6fr 8fr 2fr;
  grid-row-gap: .125rem;
  padding: .125rem 0px;
  /* justify-content: center; */
  /* align-items: baseline; */
  cursor: pointer;
}

.flexmid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.family-name {
  width: 100%;
}

.family-tree {
  box-sizing: border-box;
  /* border: var(--border-def); */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: .125rem;
}

.test {
  box-sizing: border-box;
  /* border: 2px solid blue; */
  width: 100%;
  height: auto;
}

.family-header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  overflow: hidden;
}

.family-anno {
  font-size: .75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: .25rem;
  background-color: var(--color-material-hover);
}

.family-branch {
  box-sizing: border-box;
  background-color: var(--color-dark);
  /* border: 2px solid var(--color-dark); */
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.family-branch-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px .5rem;
  border-width: 0px 1.35px 0px 1.35px;
  border-color: var(--color-border);
  border-style: solid;
  width: 100%;
}

.family-child, .family-parent, .family-sibling, .family-cousin {
  /* background-color: var(--color-material-idle); */
  display: flex;
  font-size: .75rem;
  width: auto;
  height: auto;
  margin: .25rem;
  /* border-radius: 1rem; */
}

.family-tags {
  box-sizing: border-box;
  /* border: 2px solid green; */
  width: 100%;
}

.family-desc {
  font-size: .5rem;
}


/* Scrollbar */
::-webkit-scrollbar {
  /* display: none */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3E3E3E;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

::-webkit-scrollbar-button {
  display: none;
}
